:root {
  @apply bg-[#E0E1EE] min-h-screen text-hpxCharcoal;

  --HPx-play-1: linear-gradient(
      88deg,
      rgba(114, 74, 233, 0.15) 6.09%,
      rgba(71, 89, 245, 0.15) 35.51%,
      rgba(39, 89, 255, 0.15) 69.12%,
      rgba(12, 130, 240, 0.1) 94.8%
    ),
    rgba(255, 255, 255, 0.1);
}

body {
  @apply items-center justify-center;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.title {
  @apply text-[#191A22] text-[40px] text-center;
}

.jumbo-input {
  @apply w-full cursor-text bg-[#fff] hover:bg-[#fff] transition-all duration-300 h-16 rounded-full pl-8 pr-2 placeholder:text-[#191A22]/50   text-[#191A22] !outline-none;
}

.prompt-while-loading-text {
  @apply text-2xl text-center;
  background: linear-gradient(
    88deg,
    #3719e2 2.71%,
    #192ee3 65.1%,
    #1579e3 101.62%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai-prompt-button {
  @apply bg-[#FDFDFF] bg-opacity-35  hover:!bg-opacity-70 active:!bg-opacity-100 
  
  
  transition-all duration-300 rounded-full h-12 px-4;
  color: #3719e2;
  border-radius: var(--components-button-radius, 999px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
}

.ai-prompt-button span {
  background: linear-gradient(
    88deg,
    #3719e2 2.71%,
    #192ee3 65.1%,
    #1579e3 101.62%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.date-subtitle {
  @apply text-[#525365] text-2xl leading-none text-center;
}

@font-face {
  font-family: "FormaDJRUI";
  src: url("/FormaDJRUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply the font */
body {
  font-family: "FormaDJRUI", sans-serif;
}
/* 
@keyframes slideUpAndIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    max-height: 0;
    transform: translateY(-100px);
  }
} */

.search-bar-exit {
  /* animation: slideUpFadeOut 1s ease-out forwards; */
}

.ai-switch-root {
  @apply relative duration-300 transition-all h-[25px] w-[42px] rounded-full bg-hpxWhite hover:bg-hpxWhite-hover transition-all duration-300 outline-none cursor-pointer;
}

.ai-switch-thumb {
  @apply flex items-center justify-center size-[21px] translate-x-0.5 rounded-full transition-transform duration-100 will-change-transform data-[state=checked]:translate-x-[19px];
  background: linear-gradient(315deg, #4759f5 0%, #3bb7f6 100%);
}

.ai-switch-root[data-state="checked"] {
  background: linear-gradient(315deg, #4759f5 0%, #3bb7f6 100%);
}

.ai-switch-root[data-state="checked"]:hover {
  background: linear-gradient(315deg, #3bb7f6 0%, #4759f5 100%);
}

.ai-switch-root[data-state="checked"] .ai-switch-thumb {
  @apply !bg-hpxWhite;
  background: none;
}

.ai-switch-root[data-state="unchecked"] .ai-switch-thumb img {
  @apply hidden;
}

.content {
  @apply flex flex-col items-center w-[740px];
  margin: 0;
  padding-top: 120px;
  /* display: flex;
  justify-content: center;
  align-items: flex-start !important; */
  place-items: center;
  min-width: 320px;
  min-height: calc(70vh);
  position: relative; /* Ensure it stays above the background */
  z-index: 1;
  color: black; /* Adjust text color for readability */
}

.content-wrapper {
  min-height: calc(100vh - 264px);
  @apply mb-[250px] flex items-center justify-center;
}

.footer-search {
  @apply py-6 w-full flex items-center justify-center  fixed bottom-0 z-[100];
  background: var(--HPx-play-1);
  backdrop-filter: blur(15px);
}

body {
  @apply items-center justify-center;
}

.divider {
  @apply border-b border-solid border-[#D1D2E4];
}

@font-face {
  font-family: "FormaDJRUI";
  src: url("/FormaDJRUI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FormaDJRUI";
  src: url("/FormaDJRUI.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FormaDJRUI";
  src: url("/FormaDJRUI.ttf") format("truetype");
  font-weight: 100;
  font-style: light;
}

/* Apply the font */
body {
  font-family: "FormaDJRUI", sans-serif;
}

header {
  @apply w-full flex  items-center justify-between py-2 px-20 fixed top-0 w-full;
}

.header__right {
  @apply flex gap-3 items-end justify-center;
}

.toggle-group {
  @apply inline-flex gap-0.5 rounded-full bg-hpxGrey/20 backdrop-blur-sm;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
}

.icon-button--basic {
  @apply w-12 h-12 bg-hpxMediumGrey hover:bg-hpxMediumGrey-hover bg-opacity-20 hover:bg-opacity-40 text-[#191A22] rounded-full;
}

.icon-button--primary {
  @apply flex items-center justify-center
  w-12 h-12 bg-hpxBlue hover:bg-hpxBlue-hover  active:bg-hpxBlue-active   text-[#FFFFFF] rounded-full;
}

.icon-button--primary[disabled="disabled"],
.icon-button--primary:disabled {
  @apply !text-[#B5B7CB] !bg-[#EDEEFE] cursor-not-allowed;
}

.icon-button--sparkle {
  @apply w-12 h-12  text-white rounded-full  bg-hpxBlue hover:bg-hpxBlue-hover  active:bg-hpxBlue-active;
  /* background: linear-gradient(315deg, #4759f5 0%, #3bb7f6 100%); */
}

.avatar {
  @apply w-10 h-10  text-lg rounded-full flex items-center justify-center;
  background-image: url("/avatarbg.png"); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.icon-button--basic,
.avatar,
.icon-button--sparkle {
  @apply flex items-center justify-center transition-all duration-300;
}

.icon-button--basic img,
.icon-button--sparkle img {
  @apply w-6 h-6;
}

.grey-glass-card {
  background: linear-gradient(
    124deg,
    rgba(255, 255, 255, 0.3) 15.64%,
    rgba(255, 255, 255, 0.12) 94.42%
  );
}

.white-glass-card {
  background: linear-gradient(
    124deg,
    #fff 15.64%,
    rgba(255, 255, 255, 0.4) 94.42%
  );
}

.animate-searchSlideOut input,
.animate-searchSlideOut .searchbar-controls {
  @apply animate-hardFadeOut !delay-[750ms] !text-transparent !bg-transparent;
}

.animate-searchSlideOut .searchbar-controls,
.animate-searchSlideOut input::placeholder {
  @apply hidden;
}

.card {
  @apply rounded-3xl border border-white border-opacity-30 backdrop-blur-sm flex flex-col gap-2 pl-6 pr-4 pt-4 pb-4 w-[236px];
}

.card h4 {
  @apply text-[#363636] text-base font-semibold gap-2 m-0 relative;
}

.card-controls {
  @apply text-[#525365] text-sm font-semibold flex gap-2 m-0 items-end justify-between;
}

.card-controls p {
  @apply w-[75%];
}

.switch-root {
  @apply cursor-pointer relative h-[25px] w-[42px] rounded-full bg-hpxGrey hover:bg-hpxGrey-hover duration-300 transition-colors outline-none;
}

.switch-thumb {
  @apply bg-white flex items-center justify-center size-[21px] translate-x-0.5 rounded-full transition-transform duration-100 will-change-transform data-[state=checked]:translate-x-[19px];
}

.switch-root[data-state="checked"] {
  @apply bg-hpxBlue hover:bg-hpxBlue-hover transition-all duration-300;
}

.ghost-button {
  @apply text-base text-hpxBlue hover:text-hpxBlue-hover transition-all duration-300;
}

.device-card {
  @apply relative rounded-3xl border border-white border-opacity-30 backdrop-blur-sm flex flex-col gap-2 pl-6 pr-4 pt-[90px] pb-4 w-[236px] overflow-hidden;
}

.device-card-controls {
  @apply text-[#525365] text-base font-semibold;
}

.device-card h4 {
  @apply text-[#363636] text-base font-semibold gap-2 m-0;
}

.device-card--blue {
  background: linear-gradient(
    124deg,
    #fff 15.64%,
    rgba(255, 255, 255, 0.4) 94.42%
  );
}

.device-card--purple {
  background: linear-gradient(
    124deg,
    #fff 15.64%,
    rgba(255, 255, 255, 0.4) 94.42%
  );
}

.background-flourish-container {
  scale: 2.6;
  position: fixed;
  top: -60%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.background-flourish-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/backgroundFlourish.png") no-repeat center top;
  background-size: contain;
  z-index: -1;
}

.background-flourish-container.flourish-spin::before {
  @apply animate-spin [animation-duration:20s];
}

.background-image-container {
  @apply opacity-50;
  background: url("/frontlaptop.png");
  position: fixed; /* Make it stay in place while scrolling */
  top: -5%;
  right: 0;
  width: 1200px; /* Cover the full width of the viewport */
  height: 1000px; /* Cover the full height of the viewport */
  background-position: top right; /* Align image at the top center */
  background-size: contain; /* Ensure the image covers the area */
  background-repeat: no-repeat; /* Prevent tiling */
  z-index: -1; /* Send it behind other content */
}

.video-loader {
  @apply rounded-full;
}

.device-card-flourish {
  position: absolute; /* Position the image relative to the card */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  z-index: -1; /* Send it behind other content */

  object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

.primary-button {
  @apply bg-hpxBlue hover:bg-hpxBlue-hover  active:bg-hpxBlue-active transition-all duration-300  text-white h-12 px-6 rounded-full text-base cursor-pointer;
}

.secondary-button {
  @apply border-hpxCharcoal hover:bg-hpxWhite transition-all duration-300 

  text-hpxCharcoal 
  border-solid border  h-12 px-6 rounded-full text-base cursor-pointer;
}

header {
  @apply w-full z-[100] flex  items-center justify-between py-2 px-20 fixed top-0 w-full;
}

.header__right {
  @apply flex gap-3 items-end justify-center;
}

.toggle-group {
  @apply inline-flex gap-0.5 rounded-full bg-[#b5b7cb]/20 backdrop-blur-sm;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin-left: -54px;
}

.header-button {
  @apply bg-hpxCharcoal/10 hover:bg-hpxCharcoal/20 transition-colors duration-300 border-solid border text-hpxCharcoal h-10 px-4 rounded-full text-base cursor-pointer flex items-center gap-2;
}

/* new components */

.ai-text {
  @apply flex gap-3 items-center;
}

.ai-text > span {
  @apply bg-gradient-to-r from-[#3719E2] via-[#192EE3] to-[#1579E3] bg-clip-text text-transparent text-lg;
}

.ai-conversation-pill {
  @apply bg-[#fff] bg-opacity-60 active:bg-[#EDF0FF] transition-colors duration-200
  border h-10 gap-2 flex rounded-full px-4 text-base border-solid border-hpxBlue items-center justify-center;
}

.ai-conversation-pill:hover span {
  background: linear-gradient(
    88deg,
    #3719e2 2.71%,
    #192ee3 65.1%,
    #1579e3 101.62%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai-conversation-pill--checked {
  @apply bg-[#E5EAFF] hover:bg-[#C4CAFF] border-transparent text-[#2C3798];
}

.accordion-root {
  @apply flex flex-col gap-6;
}

.accordion {
  @apply text-[#212121] bg-[#FFFFFF] rounded-3xl;
}

.accordion-trigger {
  @apply w-full flex items-center font-medium justify-between  px-8;
}

.accordion-trigger[data-state="open"] {
  @apply text-xl h-[56px];
}

.accordion-trigger[data-state="closed"] {
  @apply text-xl h-[56px];
}

.accordion > h3 {
  @apply w-full;
}

.accordion-trigger[data-state="open"] img {
  @apply rotate-180;
}

.accordion-content {
  @apply py-8 border-t border-solid border-[#EDEEFE];
}

@keyframes accordionSlideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordionSlideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.accordion-content[data-state="open"] {
  animation: accordionSlideDown 150ms ease-out forwards;
}
.accordion-content[data-state="closed"] {
  animation: accordionSlideUp 150ms ease-out forwards;
}

.copy-paste {
  @apply flex gap-2 items-center text-base cursor-pointer;
}

.copy-paste > span {
  @apply text-[#4759F5];
}

.ai-prompt-button,
.ai-conversation-pill,
.icon-button--basic,
.icon-button--sparkle,
.icon-button--secondary {
  @apply transition-all ease-in-out duration-200;
}
